body {

    width: 1440px;
    height: 5421px;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}
.wrapper {
    width: 1100px;
/* height: 1509px; */
/* left: -2.17px; */
/* top: 100px; */
padding-left: 170px;
padding-right: 170px;
margin: 0 auto;

/* background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%); */
}

header {
display: flex;
justify-content: space-between;
/* position: absolute; */
width: 1100px;
height: 36px;
/* left: 167.83px;
top: 179px;
margin-bottom: 135px; */
padding-top: 79px;
padding-bottom: 104.15px;
}

ul {
list-style-type: none;
}

a {
    text-decoration: none;
}
.navigation_container  {
}
.logo {
}
div .main_menu {
justify-content: space-between;
width: 427px;
height: 36px;
/* left: 167.83px; */
/* top: 179px; */
}
div .menu_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
   
}
.menu_list_item {
}
.menu_link {
    list-style-type: none;
}
.main_menu_signin {
}
button .button_signin {
width: 157px;
height: 46px;
}
.orange  {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
}
.pale {
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Base */

border: 1px solid #F2994A;
box-sizing: border-box;
border-radius: 4px;
}
/* Стили для основного раздела на первой странице */
section {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main_section {
}
.demonstration {
}
.main_title {
    width: 531px;
height: 150px;
left: 167.83px;
top: 350px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 50px;

color: #99EFD0;
}
.title_qoute {
    width: 468px;
height: 44px;
left: 167.83px;
top: 519px;
margin-top: 19px;
margin-bottom: 40px;

font-family: 'Gilroy-SemiBold';
font-size: 18px;
line-height: 22px;

/* T1 */
color: #8476AA;
}
.learnmore_button .orange{
    height: 20px;
left: 19.79%;
right: 20.34%;
top: calc(50% - 20px/2);


}
.button_centerbut {
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
}

.link_signin .orange {
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;
}

.centerbut {
}

.Runningman {
z-index: 15;
width: 723.71px;
height: 579.57px;
margin-left: 540px;
/* margin-top: 319.15px; */
/* margin: 0 0 0 auto; */

/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.preview {
}

.sponsors {
    width: 1100px;
    height: 30.03px;
}
.list_sponsors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 170px;
}
/* Верстка второго  блока yourchoise */

.yourchoice {
    display: flex;
    /* margin-left: 49px; */
    /* flex: auto; */
}
.title_yourchoice {
width: 299px;
height: 50px;
/* left: 595.83px;
top: 1021px; */
margin: 0px 0px 0px 428px;

justify-content: center;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 50px;
/* identical to box height, or 119% */

text-align: center;

/* T2 */

color: #99EFD0;
text-align: center;
}

.subtitle_yourchoice {
    width: 764.37px;
height: 22px;
left: 362.97px;
top: 1084px;

font-family: 'Gilroy-SemiBold';
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

text-align: center;

/* T1 */

color: #8476AA;
}